:root {
  --primary: #6c72cb;
  --secondary: #966ccb;
  --white: #eeedf0;
  --dark: #17181f;
  --p-btn: 0.75rem 1.25rem;
  --p-section: 1.25rem 2rem;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--white);
}

/* Global css */
section {
  min-height: 100vh;
}
.class-h1 {
  color: var(--secondary);
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.class-p {
  color: var(--dark);
  margin-bottom: 1rem;
  font-size: 0.9rem;
  word-spacing: 1.2px;
  letter-spacing: 0.7px;
  line-height: 1.5;
}
.btn {
  cursor: pointer;
  padding: var(--p-btn);
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  border: 1px solid inherit;
  border-radius: 6px;
}
.btn:active {
  transform: scale(0.8);
}
.btn-primary {
  color: var(--white);
  background: var(--primary);
  border: 1px solid var(--primary);
  transition: all 0.5s ease;
}
.btn-primary:hover {
  color: var(--primary);
  background: var(--white);
  border: 1px solid var(--primary);
  transition: all 0.5s ease;
}
.btn-secondary {
  color: var(--white);
  background: var(--secondary);
  border: 1px solid var(--secondary);
  transition: all 0.5s ease;
}
.btn-secondary:hover {
  color: var(--secondary);
  background: var(--white);
  border: 1px solid var(--secondary);
  transition: all 0.5s ease;
}
.input {
  outline: none;
  border: 2px solid var(--primary);
  height: 42px;
  padding: 0.15rem 0.45rem;
  border-radius: 4px;
}
/* Global css */

.header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: var(--dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header .header_brand {
  color: var(--white);
  display: flex;
  justify-content: flex-start;
}

.header .header_brand i {
  font-size: 2rem;
  margin-right: 1rem;
  line-height: 80px;
}
.header .header_brand:hover i {
  animation: infinite linear 1.2s logo_animation;
  color: var(--secondary);
}
.header nav ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
.header nav ul li a {
  color: var(--white);
  margin-left: 1rem;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
.header nav ul li a:hover {
  color: var(--secondary);
  transition: all 0.5s ease-out;
}

.section_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--p-section);
  margin-top: 10px;
}
.section_one .image_part {
  max-width: 24rem;
  display: flex;
  justify-content: flex-start;
}
.section_one .image_part img {
  width: 100%;
}
.section_one .description_part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section_two {
  margin: 2rem auto;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  border: 2px solid var(--secondary);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 24rem;
  height: auto;
  margin: 2rem 1rem;
  padding: 1rem;
  border-radius: 4px;
  transition: all 0.6s ease-in;
}
.card:hover {
  /* transform: scale(1.05); */
  transition: all 0.7s ease-out;
  box-shadow: 5px 0px 21px 24px rgba(0, 0, 0, 0.116);
}
.card-header {
  width: 100%;
  height: 12rem;
  /* display: flex;
  justify-content: center; */
  display: grid;
  place-content: center;
}
.card-header img {
  max-height: 12rem;
  /* margin: auto; */
}
.card-body {
  display: flex;
  flex-direction: column;
}
.card-body h4 {
  color: var(--secondary);
  font-size: 1.25rem;
  margin: 1rem 0;
}
.card-body p {
  text-indent: 5px;
}
.card-body p span {
  text-transform: uppercase;
}

.card-footer {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: 1rem;
}
.section_three {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}
.form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form .form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.form-control label {
  color: var(--primary);
  margin-bottom: 4px;
  font-size: 1rem;
  font-weight: bold;
}

.button-wrapper button {
  width: 100%;
  margin: 1rem auto;
}

.layout-footer {
  background: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  height: 80px;
  padding: 1rem 3rem;
}

@keyframes logo_animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
