:root {
  --primary: #6c72cb;
  --secondary: #966ccb;
  --white: #eeedf0;
  --dark: #17181f;
  --p-btn: 0.75rem 1.25rem;
  --p-section: 1.25rem 2rem;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--white);
}

/* Global css */
section {
  height: 100vh;
}
.class-h1 {
  color: var(--secondary);
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.class-p {
  color: var(--dark);
  margin-bottom: 1rem;
  font-size: 0.9rem;
  word-spacing: 2px;
  letter-spacing: 0.8px;
  line-height: 1.5;
}
.btn {
  cursor: pointer;
  padding: var(--p-btn);
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  border: 1px solid inherit;
  border-radius: 6px;
}
.btn:active {
  transform: translateY(-5px);
}
.btn-primary {
  color: var(--white);
  background: var(--primary);
  border: 1px solid var(--primary);
}
.btn-primary:hover {
  color: var(--primary);
  background: var(--white);
  border: 1px solid var(--primary);
}
/* Global css */

.header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: var(--dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  top: 0;
  left: 0;
}

.header .header_brand {
  color: var(--white);
  display: flex;
  justify-content: flex-start;
}

.header .header_brand i {
  font-size: 2rem;
  margin-right: 1rem;
  line-height: 80px;
}
.header .header_brand:hover i {
  animation: infinite linear 1.2s logo_animation;
  color: var(--secondary);
}
.header nav ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
.header nav ul li a {
  color: var(--white);
  margin-left: 1rem;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
.header nav ul li a:hover {
  color: var(--secondary);
  transition: all 0.5s ease-out;
}

.section_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--p-section);
}
.section_one .image_part {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
}
.section_one .image_part img {
  width: 100%;
  height: 100%;
}
.section_one .description_part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@keyframes logo_animation {
  /* 0% {
        transform: scale(0);
    } 
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    } */
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
